@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.box1 {
    width: 33.3%;
    float: left;
    padding: 250px 15px;
    box-sizing: border-box;
    color: #000000;
}

.circle1 {
    display: block;
    background: rgb(255, 255, 255);
    width: 10px;
    height: 10px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 10px;
}



.box2 {
    width: 33.3%;
    float: left;
    padding: 250px 15px;
    box-sizing: border-box;
    color: #000000;
}

.box3 {
    width: 33.3%;
    float: left;
    padding: 250px 15px;
    box-sizing: border-box;
    color: #000000;
}

.box4 {
    width: 33.3%;
    float: left;
    padding: 250px 15px;
    box-sizing: border-box;
    color: #000000;
}

.img1 {
    background: rgb(29, 162, 202);
    border-radius: 3px;
    height: 100px;
    width: 100px;
    padding: 10px 10px;
}

.img2 {
    background: rgb(54, 100, 228);
    border-radius: 3px;
    height: 100px;
    width: 100px;
    padding: 10px 10px;
}

.img3 {
    background: rgb(228, 54, 54);
    border-radius: 3px;
    height: 100px;
    width: 100px;
    padding: 10px 10px;
}

.img4 {
    background: rgb(129, 133, 145);
    border-radius: 3px;
    height: 100px;
    width: 100px;
    padding: 10px 10px;
}


section {
    text-align: center;
}

.sec1 h1 {
    font-weight: bold;
    color: rgba(219, 50, 50, 0.842);
}

.sec2 h1 {
    font-weight: bold;
    color: rgba(219, 50, 50, 0.842);
}

.sec3 h1 {
    font-weight: bold;
    color: rgba(219, 50, 50, 0.842);
}

.sec4 h1 {
    font-weight: bold;
    color: rgba(219, 50, 50, 0.842);
}